.calculator {
    display: flex;
    max-width: 1200px;
    margin: 100px 15px 50px;
    background: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.inputs, .results {
    flex: 1;
    margin: 10px;
}

.inputs div {
    margin-bottom: 5px;
}

label {
    display: block;
    margin-bottom: 0px !important;
    font-weight: bold;
}

.calculator input {
    padding: 0 !important;
    height: 2px;
}

input[type="range"] {
    width: 100%;
}

span {
    display: block;
    margin-top: 5px;
    font-weight: bold;
}

.results {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background: linear-gradient(to bottom right, #8b0000, #0000cd);
    color: white;
    border-radius: 8px;
    padding: 20px;
}

#payment {
    font-size: 2rem;
    margin: 20px 0;
}

.a {
    color: #fff;
    text-decoration: none;
}

.a:hover {
    color: #f5f5f5;
    text-decoration: none;
}

button {
    padding: 10px 20px;
    background: red;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    max-width: 300px;
}

.precios {
    display: flex;
    justify-content: space-between;
    color: #494949;
    font-weight: 500;
    margin: 0 !important;
}

.precios p {
    margin: 0;
    margin-top: 5px;
}

.end {
    text-align: end;
}

.total-amount {
    font-size: 36px;
    font-weight: 500;
}

#payment,
#totalAmount,
#monthlyPayment {
    font-size: 36px;
}

.hidde {
    display: none;
}

.options-hero {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.options-hero h4 {
    font-weight: 600;
    font-size: 36px;
    color: #000;
}

.options-hero b {
    margin: 15px;
    font-size: 24px;
}

.options-hero a {
    text-decoration: none;
}

.options-hero-container img {
    width: 300px;
    height: 100px;
    border-radius: 8px;
    box-shadow: 0px 0px 5px #000;
    margin: 10px;
}

@media (max-width: 1150px) {
    .calculator {
        margin-top: 160px;
    }
}

@media (max-width: 700px) {
    .calculator {
        display: block;
    }

    .inputs, .results {
        margin: 10px 0;
    }

    .options-hero {
        text-align: center;
    }

    .options-hero-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}

@media (max-width: 350px) {
    .options-hero-container img {
        width: 95vw;
        height: 30vw;
    }
}