.footer {
    background-color: var(--color-1);
    padding: 20px 0;
    color: white;
}

.footer-title {
    font-size: 64px;
    font-weight: 400;
    margin-bottom: 20px;
}

.footer-margin {
    margin: 0 25px;
}

.footer-form-container {
    display: flex;
}

.custom-form-container {
    width: 300px;
}

.custom-entry-area {
    position: relative;
    height: 70px;
    line-height: 45px;
    margin-top: 10px;
}

.footer-input {
    position: absolute;
    width: 200px;
    outline: none;
    font-size: 16px;
    padding: 0 30px 2px 10px;
    line-height: 20px;
    border: none;
    border-bottom: 2px solid #f0ffff;
    background: transparent;
    transition: 0.1s ease;
    z-index: 900;
}

.custom-label-line {
    position: absolute;
    font-size: 16px;
    color: #f0ffff;
    padding: 0 25px 0 0;
    margin: -15px 20px 0;
    background-color: var(--color-1);
    transition: 0.2s ease;
}

.field {
    width: 450px;
    margin: 15px 0;
}

.field input {
    height: 35px;
    background-color: #f5f5f5;
}

.field label {
    letter-spacing: 2px;
    font-weight: 300;
}

#button {
    margin-top: 30px;
    width: 450px;
    background-color: #e65c21;
    color: #fff;
    font-weight: 500;
    border: none;
    border-radius: 50px;
}



.footer-div-2 {
    margin-right: 56px;
    margin-bottom: 5px;
}

.footer h5 {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 20px;
}

.footer p {
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
}

.footer a {
    color: var(--color-2);
    text-decoration: none;
}

.footer-text {
    display: flex;
    justify-content: center;
    align-items: start;
}

.footer-text-container {
    margin-top: 60px;
    justify-content: space-between;
}

.footer-text p {
    margin: 0;
}

.footer-div {
    width: 33%;
}

.footer hr {
    border: none;
    border-top: 2px solid rgba(229, 229, 229, 0.493);
    width: 100vw;
    margin: 15px 0 15px -25px;
}

.footer-end {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 15px 0 0px;
}

.footer-end a {
    text-decoration: none;
    color: inherit;
}

.footer-end a:link,
.footer-end a:visited {
    text-decoration: none;
    color: inherit;
}

.footer-end p {
    margin: 0;
}

.column {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.column h5 {
    margin-right: 75px;
}

@media (max-width: 1350px) {
    .footer__end {
        margin-right: 0;
    }
}

@media (max-width: 950px) {
    .movile {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .desktop {
        display: none;
    }
}

@media (max-width: 850px) {
    .footer-text-container {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    }

    .footer-div {
    width: 90vw;
    margin-bottom: 15px;
    }

    .contact,
    .column {
    align-items: start !important;  
    justify-content: start !important;
    }


    .footer-end {
        display: flex;
        justify-content: center;
        align-items: start;
        flex-direction: column-reverse;
        margin-right: 10vw;
        width: 80vw;
    }

    .start {
    display: flex;
    justify-content: start;
    align-items: center;
    }

    .footer-end img {
        width: 25px;
    }

}

@media (max-width: 767px) {
    footer h4 {
        font-size: 36px;
    }

    .desktop {
        display: none;
    }
}

@media (max-width: 650px) {
    .form-container {
        display: block;
    }

    .footer-form:first-child {
        margin-left: 15px;
    }

    footer hr {
        width: 100vw;
    }

    .footer-form-container {
        display: flex;
        flex-direction: column;
    }
}

.form-container {
    display: flex;
    justify-content: start;
}

.contact-form-2 {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

label {
    font-size: 16px;
    font-weight: bold;
}

input, select, .form-button {
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
}

.phone-input {
    display: flex;
    gap: 5px;
}

.form-button {
    background-color: #ff6524;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 50px !important;
    margin-top: 10px !important;
}

.form-button:hover {
    background-color: #e65c21;
}

.iti__country-list {
    position: absolute;
    z-index: 2;
    list-style: none;
    text-align: left;
    padding: 0;
    margin: 0 0 0 -1px;
    top: 45px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
    background-color: white;
    border: 1px solid #CCC;
    white-space: nowrap;
    width: 350px !important;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

@media (max-width: 950px) {
    .form-container {
        margin: 100px 10px 0;
    }
}

@media (max-width: 520px) {
    .iti__country-list {
        width: 220px !important;
    }

    #form {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .field,
    #button {
        width: 90vw;
    }
}